:root {
  /* Font Family */
  --font-family: 'Inter', 'Roboto', sans-serif;

  /* Font Sizes */
  --fs-xxs: 10px;
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-2xl: 24px;
  --fs-3xl: 28px;
  --fs-4xl: 36px;

  /* Line Heights */
  --lh-sm: 1.2;
  --lh-md: 1.5;
  --lh-lg: 1.8;

  /* Font Weights */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}
